button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	cursor: pointer;
	border-color: $color__button-background;
	border-radius: 5px;
	background: transparent;
	color: $color__text-accent;
	@include font-size(0.9);
	line-height: 1.1;
	padding: 0.8rem 1.4rem;
	&:hover,
	&:active,
	&:focus {
		background-color: $color__button-background;
		color: white;
	}
}