.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Force images in archive pages to take less width */

.entry-content img {
	width: 50%;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */

.custom-logo-link {
	display: inline-block;
	max-width: 150px;
	height: auto;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

@import "captions";
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

@import "galleries";
/* Title Area
--------------------------------------------- */

.title-area a {
	border-bottom: 0;
	&:hover {
		border-bottom: 0;
	}
}

.site-title {
	font-size: 20px;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 0;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: #333;
	text-decoration: none;
}

.wp-custom-logo .site-title {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}