p {
	margin: 0 0 1.5em;
	padding: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

.entry-meta {
	font-weight: 300;
	color: rgba(64, 64, 64, 0.85);
	text-transform: uppercase;
}

.entry-content p,
.entry-content ul li,
.entry-content ol li,
.entry-content a {
	font-size: 19px;
}