/* Import fonts
--------------------------------------------- */

@font-face {
	font-family: 'Hans Kendrick';
	src: url(fonts/HansKendrick-Regular-webfont.ttf);
	font-weight: normal;
}

@font-face {
	font-family: 'Hans Kendrick';
	src: url(fonts/HansKendrick-Light-webfont.ttf);
	font-weight: light;
}

@font-face {
	font-family: 'Hans Kendrick';
	src: url(fonts/HansKendrick-Heavy-webfont.ttf);
	font-weight: bold;
}

/* Base text styles
--------------------------------------------- */

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";