// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1)) / $numberColumns);
}

// Buttons mixin
@mixin button() {
	display: inline-block;
	background-color: $color__button-background;
	color: $color__button-text;
	cursor: pointer;
	padding: 0.8rem 1.4rem;
	border: 0px;
	text-decoration: none;
	border-radius: 5px;
	&:hover {
		background-color: $color__button-background-hover;
	}
	@media all and (max-width:30em) {
		display: block;
		margin: 0.4em auto;
	}
}